community/template-webhook-transform.json
{"name":"Webhook Transform","nodes":[{"parameters":{"httpMethod":"POST","path":"forge-incoming","options":{}},"id":"a1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{$json}}"}]}},"id":"a2","name":"Transform","type":"n8n-nodes-base.set","typeVersion":1,"position":[500,300]},{"parameters":{"options":{}},"id":"a3","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[750,300]}],"connections":{"Webhook":{"main":[[{"node":"Transform","type":"main","index":0}]]},"Transform":{"main":[[{"node":"Respond","type":"main","index":0}]]}}}
